/* 在大屏幕上扩展正文宽度 */
@media (min-width: 1440px) {
  .VPDoc.has-aside .content-container.content-container {
    max-width: 100%;
  }
}

/* 在窄屏幕中压缩导航项，减少换行 */
@media (max-width: 1080px) {
  :root {
    --vp-sidebar-width: 260px;
  }
  .VPNav {
    // 参考 Vue 中文文档的处理方式。
    .DocSearch-Button-Placeholder {
      display: none;
    }
    .VPNavBarMenuLink,
    .VPNavBarMenuGroup .button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@media (max-width: 992px) {
  .VPNav {
    .VPNavBar {
      padding-left: 24px;
      padding-right: 24px;
    }
    .VPNavBarMenuLink,
    .VPNavBarMenuGroup .button {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
@media (max-width: 800px) {
  .VPNav {
    .VPNavBarSearch {
      padding-left: 16px;
    }
    .VPNavBarMenuLink,
    .VPNavBarMenuGroup .button {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

/* 版权信息 */
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 自定义块样式 */
.custom-block .custom-block-title {
  font-size: 16px;
}
.custom-block.tip .custom-block-title {
  color: var(--vp-c-brand);
}

/* 首页样式 */
.VPHero {
  .image-bg {
    opacity: 0.8;
    transition: opacity 1s ease;
  }
  .image-container:hover .image-bg {
    opacity: 0.4;
  }
}

table {
  width: 100% !important;
  display: table;
}

/**
 * VitePress 自定义修复
 * -------------------------------------------------------------------------- */

/*
  在深色模式下为链接使用更浅的颜色，以提升可访问性。
  重复指定部分选择器，以提高相对于作用域属性选择器的优先级。
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}
.dark .VPContent {
  background-color: rgb(10, 10, 11);
  background-image: url('/images/grid.svg');
}
.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* 使用颜色而非透明度实现过渡 */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

/* 徽标 */
.VPImage.logo {
  border-radius: 50%;
}

.l-home-layout .image-src {
  border-radius: 50%;
}
.l-home-layout .image-src:hover {
  transform: translate(-50%, -50%) rotate(666turn);
  transition: transform 59s 1s cubic-bezier(0.3, 0, 0.8, 1);
}
